// ======== variables ===========
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,900');
$color-1: #004445;
$color-2: #9FD5B3;
$color-3: #f5b842;
$color-4: #cb4d4f;
$color-5: #33566b;
$white: #fff;
$black: #000;
$base-duration: 500ms;
// ============ host ============
:host {
  font-family: 'Montserrat', sans-serif;
  display: block;

  nav{
    position: fixed;
    top: 0;
    right: -30em;
    background-color: $black;
    color: $white;
    width: 30em;
    max-width: 100%;
    transition: right $base-duration ease;
	  z-index: 5;

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        display: flex;
        align-items: stretch;

        a{
          flex: 1;
          display: flex;
          text-decoration: none;
          color: $white;

          span{
            margin: auto 1em;
          }
        }

        a:hover{
          color: $color-1;
          background-color: $color-2;
        }

        detroit-btn{
          margin: auto;
          width: 5em;
        }
      }
    }
  }
}

:host([active="true"]) {

  nav{
    right: 0em;
    transition: right $base-duration ease;
  }
}

:host([hidden]) {
  display: none;
}